
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Raleway:ital,wght@1,200&family=Work+Sans:wght@400;500;600;700;800&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lato', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Work Sans', sans-serif;
    }

/* header section */
.game-header-container{
    background: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 240px ;
   
}
.game-logo{
    display: flex;
    /* width: 3.2rem;
    height: 2.2rem; */
    align-items: center;
    gap: 20px;
    padding: 0px 40px;
   
    }
.header-manus ul {
    display: flex;
   padding: 52px;
   gap:32px;
}
.header-manus li {
    list-style: none;
    text-transform: capitalize;
    
}


/* main-start */
.game-banner-section{
    /* background-image: url("../images/Group\ 14.png"); */
    background-color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 240px;
    margin-top: 35px;
 
}
.banner-img{
height: 446px;

}

.banner-img-container{
    margin-top: 35px;
   
}


/* banner title */
.banner-title{
    color:#0B0223;
    font-size: 2.5rem;
    font-weight: 500;
    text-transform: uppercase;
}
.banner-header{
font-size: 5rem;
font-weight: 700;
text-transform: uppercase;
}
.btn-primary{
    padding: 15px 25px;
    gap: 10px;
    border-radius: 25px;
    background: #FF42A5 ;
    color: #FFF;
    font-size: 1.1rem;
    font-weight: 500;
    text-transform: uppercase;
    border: none;
    }

    /* gammer style */

    .gammer-section{
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

    }
    .gammer-container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding:52px 200px ;
        gap: 0px 20px;
    }
    .gammer-banner{
    width: 610px;
    /* height: 450px; */
    
    }
    .banner-about{
    color: #534C64;
    font-size: 18px;
    font-weight: 400;

    }
    .banner-header{
    font-size: 2.2rem;
    font-weight: 700;
color: rgb(136, 101, 219);


    }
    


    /* rensponsive style */

    @media screen and (max-width:576px) {
        .game-header-container{
            flex-direction: column;
    
        }
        .game-banner-section{
            flex-direction: column;
        }
        .gammer-container{
            flex-direction: column;
        }
        
    }
    @media screen and (min:576px) and ( max-width:876px){
        .game-header-container .game-banner-section .gammer-section{
            flex-direction: column;
            padding: 50px;
        }
        
    }